@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.Header {
  &__Container {
    @include mobile {
      margin: $mobile-side-margin $mobile-side-margin;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    @include tablet {
      margin: $mobile-side-margin $tablet-side-margin;
    }
    @include desktop {
      margin: $tablet-side-margin $desktop-side-margin;
      flex-direction: row;
    }
  }
}
